body {
    background-color: lightblue;
}

.container {
  display: flex;
  flex-direction: row | row-reverse | column | column-reverse;
}

.card{
   width: 400px;
   height: 650px;
   padding: 20px;
   margin: 20px;
   background-color: burlywood;
   border-radius: 30px;
}

.photo {
   height: 40%;
   padding: 20px;
}

.info {
   height: 100%;
   padding: 10px;
}

img {
   position: relative;
   width: 100%;
   height: auto;
   left: 5px;
   border-radius: 10px;
}

.card:hover {
    background-color: #0080ff;
}
